[submodule "site/ciniki-api/core"]
	path = site/ciniki-api/core
	url = git://github.com/ciniki/api-core
[submodule "site/ciniki-api/businesses"]
	path = site/ciniki-api/businesses
	url = git://github.com/ciniki/api-businesses
[submodule "site/ciniki-api/bugs"]
	path = site/ciniki-api/bugs
	url = git://github.com/ciniki/api-bugs
[submodule "site/ciniki-api/cron"]
	path = site/ciniki-api/cron
	url = git://github.com/ciniki/api-cron
[submodule "site/ciniki-api/customers"]
	path = site/ciniki-api/customers
	url = git://github.com/ciniki/api-customers
[submodule "site/ciniki-api/healthcheck"]
	path = site/ciniki-api/healthcheck
	url = git://github.com/ciniki/api-healthcheck
[submodule "site/ciniki-api/inventory"]
	path = site/ciniki-api/inventory
	url = git://github.com/ciniki/api-inventory
[submodule "site/ciniki-api/products"]
	path = site/ciniki-api/products
	url = git://github.com/ciniki/api-products
[submodule "site/ciniki-api/media"]
	path = site/ciniki-api/media
	url = git://github.com/ciniki/api-media
[submodule "site/ciniki-api/questions"]
	path = site/ciniki-api/questions
	url = git://github.com/ciniki/api-questions
[submodule "site/ciniki-api/scheduling"]
	path = site/ciniki-api/scheduling
	url = git://github.com/ciniki/api-scheduling
[submodule "site/ciniki-api/subscriptions"]
	path = site/ciniki-api/subscriptions
	url = git://github.com/ciniki/api-subscriptions
[submodule "site/ciniki-api/timesheets"]
	path = site/ciniki-api/timesheets
	url = git://github.com/ciniki/api-timesheets
[submodule "site/ciniki-api/toolbox"]
	path = site/ciniki-api/toolbox
	url = git://github.com/ciniki/api-toolbox
[submodule "site/ciniki-api/users"]
	path = site/ciniki-api/users
	url = git://github.com/ciniki/api-users
[submodule "site/ciniki-api/wineproduction"]
	path = site/ciniki-api/wineproduction
	url = git://github.com/ciniki/api-wineproduction
[submodule "site/ciniki-manage/bugs"]
	path = site/ciniki-manage/bugs
	url = git://github.com/ciniki/manage-bugs
[submodule "site/ciniki-manage/businesses"]
	path = site/ciniki-manage/businesses
	url = git://github.com/ciniki/manage-businesses
[submodule "site/ciniki-manage/core"]
	path = site/ciniki-manage/core
	url = git://github.com/ciniki/manage-core
[submodule "site/ciniki-manage/customers"]
	path = site/ciniki-manage/customers
	url = git://github.com/ciniki/manage-customers
[submodule "site/ciniki-manage/media"]
	path = site/ciniki-manage/media
	url = git://github.com/ciniki/manage-media
[submodule "site/ciniki-manage/products"]
	path = site/ciniki-manage/products
	url = git://github.com/ciniki/manage-products
[submodule "site/ciniki-manage/subscriptions"]
	path = site/ciniki-manage/subscriptions
	url = git://github.com/ciniki/manage-subscriptions
[submodule "site/ciniki-manage/sysadmin"]
	path = site/ciniki-manage/sysadmin
	url = git://github.com/ciniki/manage-sysadmin
[submodule "site/ciniki-manage/toolbox"]
	path = site/ciniki-manage/toolbox
	url = git://github.com/ciniki/manage-toolbox
[submodule "site/ciniki-manage/users"]
	path = site/ciniki-manage/users
	url = git://github.com/ciniki/manage-users
[submodule "site/ciniki-manage/wineproduction"]
	path = site/ciniki-manage/wineproduction
	url = git://github.com/ciniki/manage-wineproduction
[submodule "site/ciniki-manage/questions"]
	path = site/ciniki-manage/questions
	url = git://github.com/ciniki/manage-questions.git
[submodule "site/ciniki-manage-themes/default"]
	path = site/ciniki-manage-themes/default
	url = git://github.com/ciniki/manage-theme-default.git
[submodule "site/ciniki-api/images"]
	path = site/ciniki-api/images
	url = git://github.com/ciniki/api-images.git
[submodule "site/ciniki-manage/monitoring"]
	path = site/ciniki-manage/monitoring
	url = git://github.com/ciniki/manage-monitoring.git
[submodule "site/ciniki-manage/help"]
	path = site/ciniki-manage/help
	url = git://github.com/ciniki/manage-help.git
[submodule "site/ciniki-api/alerts"]
	path = site/ciniki-api/alerts
	url = git://github.com/ciniki/api-alerts.git
[submodule "site/ciniki-manage/alerts"]
	path = site/ciniki-manage/alerts
	url = git://github.com/ciniki/manage-alerts.git
[submodule "site/ciniki-api/healthchecks"]
	path = site/ciniki-api/healthchecks
	url = git://github.com/ciniki/api-healthchecks.git
[submodule "site/ciniki-manage/calendars"]
	path = site/ciniki-manage/calendars
	url = git://github.com/ciniki/manage-calendars.git
[submodule "site/ciniki-api/calendars"]
	path = site/ciniki-api/calendars
	url = git://github.com/ciniki/api-calendars.git
[submodule "sit/ciniki-api/calendars"]
	path = sit/ciniki-api/calendars
	url = git://github.com/ciniki/api-calendars.git
[submodule "site/ciniki-api/journal"]
	path = site/ciniki-api/journal
	url = git://github.com/ciniki/api-journal.git
[submodule "site/ciniki-manage/journal"]
	path = site/ciniki-manage/journal
	url = git://github.com/ciniki/manage-journal.git
[submodule "site/ciniki-api/systemdocs"]
	path = site/ciniki-api/systemdocs
	url = git://github.com/ciniki/api-systemdocs.git
[submodule "site/ciniki-api/atdo"]
	path = site/ciniki-api/atdo
	url = git://github.com/ciniki/api-atdo.git
[submodule "site/ciniki-manage/atdo"]
	path = site/ciniki-manage/atdo
	url = git://github.com/ciniki/manage-atdo.git
[submodule "site/ciniki-api/clicktracker"]
	path = site/ciniki-api/clicktracker
	url = git://github.com/ciniki/api-clicktracker.git
[submodule "site/ciniki-manage/clicktracker"]
	path = site/ciniki-manage/clicktracker
	url = git://github.com/ciniki/manage-clicktracker.git
[submodule "site/ciniki-api/artcatalog"]
	path = site/ciniki-api/artcatalog
	url = git://github.com/ciniki/api-artcatalog.git
[submodule "site/ciniki-manage/artcatalog"]
	path = site/ciniki-manage/artcatalog
	url = git://github.com/ciniki/manage-artcatalog.git
[submodule "site/ciniki-api/web"]
	path = site/ciniki-api/web
	url = git://github.com/ciniki/api-web.git
[submodule "site/ciniki-manage/web"]
	path = site/ciniki-manage/web
	url = git://github.com/ciniki/manage-web.git
[submodule "site/ciniki-api/events"]
	path = site/ciniki-api/events
	url = git://github.com/ciniki/api-events.git
[submodule "site/ciniki-manage/events"]
	path = site/ciniki-manage/events
	url = git://github.com/ciniki/manage-events.git
[submodule "site/ciniki-api/links"]
	path = site/ciniki-api/links
	url = git://github.com/ciniki/api-links.git
[submodule "site/ciniki-manage/links"]
	path = site/ciniki-manage/links
	url = git://github.com/ciniki/manage-links.git
[submodule "site/ciniki-api/filedepot"]
	path = site/ciniki-api/filedepot
	url = git://github.com/ciniki/api-filedepot.git
[submodule "site/ciniki-manage/filedepot"]
	path = site/ciniki-manage/filedepot
	url = git://github.com/ciniki/manage-filedepot.git
[submodule "site/ciniki-manage/systemdocs"]
	path = site/ciniki-manage/systemdocs
	url = git://github.com/ciniki/manage-systemdocs.git
[submodule "site/ciniki-api/projects"]
	path = site/ciniki-api/projects
	url = git://github.com/ciniki/api-projects.git
[submodule "site/ciniki-manage/projects"]
	path = site/ciniki-manage/projects
	url = git://github.com/ciniki/manage-projects.git
