site/.htaccess
site/ciniki-sync.php
site/ciniki-rest.php
site/ciniki-json.php
site/ciniki-manage.php
site/ciniki-login.php
site/paypal-ipn.php
site/ciniki-api.ini
site/ciniki-manage.ini
dev-tools
run.sh
marketing
