[submodule "site/ciniki-lib/PHPMailer"]
	path = site/ciniki-lib/PHPMailer
	url = https://github.com/PHPMailer/PHPMailer.git
[submodule "site/ciniki-mods/artcatalog"]
	path = site/ciniki-mods/artcatalog
	url = https://github.com/ciniki/artcatalog.git
[submodule "site/ciniki-mods/artgallery"]
	path = site/ciniki-mods/artgallery
	url = https://github.com/ciniki/artgallery.git
[submodule "site/ciniki-mods/atdo"]
	path = site/ciniki-mods/atdo
	url = https://github.com/ciniki/atdo.git
[submodule "site/ciniki-mods/bugs"]
	path = site/ciniki-mods/bugs
	url = https://github.com/ciniki/bugs.git
[submodule "site/ciniki-mods/businesses"]
	path = site/ciniki-mods/businesses
	url = https://github.com/ciniki/businesses.git
[submodule "site/ciniki-mods/calendars"]
	path = site/ciniki-mods/calendars
	url = https://github.com/ciniki/calendars.git
[submodule "site/ciniki-mods/clicktracker"]
	path = site/ciniki-mods/clicktracker
	url = https://github.com/ciniki/clicktracker.git
[submodule "site/ciniki-mods/core"]
	path = site/ciniki-mods/core
	url = https://github.com/ciniki/core.git
[submodule "site/ciniki-mods/courses"]
	path = site/ciniki-mods/courses
	url = https://github.com/ciniki/courses.git
[submodule "site/ciniki-mods/cron"]
	path = site/ciniki-mods/cron
	url = https://github.com/ciniki/cron.git
[submodule "site/ciniki-mods/customers"]
	path = site/ciniki-mods/customers
	url = https://github.com/ciniki/customers.git
[submodule "site/ciniki-mods/events"]
	path = site/ciniki-mods/events
	url = https://github.com/ciniki/events.git
[submodule "site/ciniki-mods/exhibitions"]
	path = site/ciniki-mods/exhibitions
	url = https://github.com/ciniki/exhibitions.git
[submodule "site/ciniki-mods/filedepot"]
	path = site/ciniki-mods/filedepot
	url = https://github.com/ciniki/filedepot.git
[submodule "site/ciniki-mods/gallery"]
	path = site/ciniki-mods/gallery
	url = https://github.com/ciniki/gallery.git
[submodule "site/ciniki-mods/images"]
	path = site/ciniki-mods/images
	url = https://github.com/ciniki/images.git
[submodule "site/ciniki-mods/links"]
	path = site/ciniki-mods/links
	url = https://github.com/ciniki/links.git
[submodule "site/ciniki-mods/mail"]
	path = site/ciniki-mods/mail
	url = https://github.com/ciniki/mail.git
[submodule "site/ciniki-mods/newsaggregator"]
	path = site/ciniki-mods/newsaggregator
	url = https://github.com/ciniki/newsaggregator.git
[submodule "site/ciniki-mods/newsletters"]
	path = site/ciniki-mods/newsletters
	url = https://github.com/ciniki/newsletters.git
[submodule "site/ciniki-mods/products"]
	path = site/ciniki-mods/products
	url = https://github.com/ciniki/products.git
[submodule "site/ciniki-mods/projects"]
	path = site/ciniki-mods/projects
	url = https://github.com/ciniki/projects.git
[submodule "site/ciniki-mods/recipes"]
	path = site/ciniki-mods/recipes
	url = https://github.com/ciniki/recipes.git
[submodule "site/ciniki-mods/sapos"]
	path = site/ciniki-mods/sapos
	url = https://github.com/ciniki/sapos.git
[submodule "site/ciniki-mods/subscriptions"]
	path = site/ciniki-mods/subscriptions
	url = https://github.com/ciniki/subscriptions.git
[submodule "site/ciniki-mods/surveys"]
	path = site/ciniki-mods/surveys
	url = https://github.com/ciniki/surveys.git
[submodule "site/ciniki-mods/taxes"]
	path = site/ciniki-mods/taxes
	url = https://github.com/ciniki/taxes.git
[submodule "site/ciniki-mods/toolbox"]
	path = site/ciniki-mods/toolbox
	url = https://github.com/ciniki/toolbox.git
[submodule "site/ciniki-mods/users"]
	path = site/ciniki-mods/users
	url = https://github.com/ciniki/users.git
[submodule "site/ciniki-mods/web"]
	path = site/ciniki-mods/web
	url = https://github.com/ciniki/web.git
[submodule "site/ciniki-mods/wineproduction"]
	path = site/ciniki-mods/wineproduction
	url = https://github.com/ciniki/wineproduction.git
[submodule "site/ciniki-mods/sysadmin"]
	path = site/ciniki-mods/sysadmin
	url = https://github.com/ciniki/sysadmin
[submodule "site/ciniki-mods/systemdocs"]
	path = site/ciniki-mods/systemdocs
	url = https://github.com/ciniki/systemdocs
[submodule "site/ciniki-mods/workshops"]
	path = site/ciniki-mods/workshops
	url = https://github.com/ciniki/workshops.git
[submodule "site/ciniki-mods/blog"]
	path = site/ciniki-mods/blog
	url = https://github.com/ciniki/blog.git
[submodule "site/ciniki-mods/info"]
	path = site/ciniki-mods/info
	url = https://github.com/ciniki/info.git
[submodule "site/ciniki-mods/sponsors"]
	path = site/ciniki-mods/sponsors
	url = https://github.com/ciniki/sponsors.git
[submodule "site/ciniki-mods/directory"]
	path = site/ciniki-mods/directory
	url = https://github.com/ciniki/directory.git
[submodule "site/ciniki-mods/marketing"]
	path = site/ciniki-mods/marketing
	url = https://github.com/ciniki/marketing.git
[submodule "site/ciniki-mods/tutorials"]
	path = site/ciniki-mods/tutorials
	url = https://github.com/ciniki/tutorials.git
[submodule "site/ciniki-mods/classes"]
	path = site/ciniki-mods/classes
	url = https://github.com/ciniki/classes.git
[submodule "site/ciniki-mods/audio"]
	path = site/ciniki-mods/audio
	url = https://github.com/ciniki/audio.git
[submodule "site/ciniki-mods/library"]
	path = site/ciniki-mods/library
	url = https://github.com/ciniki/library.git
[submodule "site/ciniki-mods/marketplaces"]
	path = site/ciniki-mods/marketplaces
	url = https://github.com/ciniki/marketplaces.git
[submodule "site/ciniki-mods/donations"]
	path = site/ciniki-mods/donations
	url = https://github.com/ciniki/donations.git
[submodule "site/ciniki-mods/membersonly"]
	path = site/ciniki-mods/membersonly
	url = https://github.com/ciniki/membersonly
[submodule "site/ciniki-mods/fatt"]
	path = site/ciniki-mods/fatt
	url = https://github.com/ciniki/fatt.git
[submodule "site/ciniki-lib/dropbox"]
	path = site/ciniki-lib/dropbox
	url = https://github.com/dropbox/dropbox-sdk-php
[submodule "site/ciniki-mods/restaurants"]
	path = site/ciniki-mods/restaurants
	url = https://github.com/ciniki/restaurants.git
[submodule "site/ciniki-mods/reseller"]
	path = site/ciniki-mods/reseller
	url = https://github.com/ciniki/reseller.git
[submodule "site/ciniki-mods/propertyrentals"]
	path = site/ciniki-mods/propertyrentals
	url = https://github.com/ciniki/propertyrentals.git
[submodule "site/ciniki-mods/writingcatalog"]
	path = site/ciniki-mods/writingcatalog
	url = https://github.com/ciniki/writingcatalog.git
[submodule "site/ciniki-mods/filmschedule"]
	path = site/ciniki-mods/filmschedule
	url = https://github.com/ciniki/filmschedule.git
[submodule "site/ciniki-mods/materiamedica"]
	path = site/ciniki-mods/materiamedica
	url = https://github.com/ciniki/materiamedica.git
[submodule "site/ciniki-mods/landingpages"]
	path = site/ciniki-mods/landingpages
	url = https://github.com/ciniki/landingpages.git
[submodule "site/ciniki-mods/citations"]
	path = site/ciniki-mods/citations
	url = https://github.com/ciniki/citations.git
[submodule "site/ciniki-mods/sms"]
	path = site/ciniki-mods/sms
	url = https://github.com/ciniki/sms.git
[submodule "site/ciniki-mods/conferences"]
	path = site/ciniki-mods/conferences
	url = https://github.com/ciniki/conferences.git
[submodule "site/ciniki-mods/artistprofiles"]
	path = site/ciniki-mods/artistprofiles
	url = https://github.com/ciniki/artistprofiles.git
[submodule "site/ciniki-mods/merchandise"]
	path = site/ciniki-mods/merchandise
	url = https://github.com/ciniki/merchandise.git
[submodule "site/ciniki-mods/patents"]
	path = site/ciniki-mods/patents
	url = https://github.com/ciniki/patents.git
[submodule "site/ciniki-mods/jiji"]
	path = site/ciniki-mods/jiji
	url = https://github.com/ciniki/jiji.git
[submodule "site/ciniki-mods/foodmarket"]
	path = site/ciniki-mods/foodmarket
	url = https://github.com/ciniki/foodmarket.git
[submodule "site/ciniki-lib/Stripe"]
	path = site/ciniki-lib/Stripe
	url = https://github.com/stripe/stripe-php
[submodule "site/ciniki-mods/musicfestivals"]
	path = site/ciniki-mods/musicfestivals
	url = https://github.com/ciniki/musicfestivals.git
[submodule "site/ciniki-mods/poma"]
	path = site/ciniki-mods/poma
	url = https://github.com/ciniki/poma
[submodule "site/ciniki-mods/herbalist"]
	path = site/ciniki-mods/herbalist
	url = https://github.com/ciniki/herbalist.git
[submodule "site/ciniki-mods/petadoptions"]
	path = site/ciniki-mods/petadoptions
	url = git://github.com/ciniki/petadoptions
